.cardStock {
    .ant-card-body {
        padding-left: 0;
    }

    .graph {
        font-size: 10px;
    }

    .graphInfo {
        padding: 40px 0 0 20px;
        border-left: 2px solid #eee;
        margin-left: 10px;

        .value {
            font-size: 30px;
            font-weight: 700;
        }
    }
}
